*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    width: 100%;
    /* height: 100vh; */
    background-color: steelblue;
}

.tile
{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid black;
}

.box-model
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.box-model label
{
    position: absolute;
    top: 5px;
    left: 5px;
}

.box-model span
{
    padding: 10px;
    border: 1px solid black;
}

ul li:first-child
{
    color: white; 
}

ul li:nth-child(2)
{
    color: red;
}

ol li:first-child
{
    color: purple;
}

ol li:nth-child(even)
{
    color: yellow;
}

ol li:first-of-type
{
    color: brown;
}

.display > p
{
    padding: 10px;
}

.display > p::first-line
{
    color: purple;
    background: linear-gradient(to right, black, white);
}

.flex
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header
{
    background-color: red;
    width: 100%;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .sidebar
{
    width: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aquamarine;
} */

.content
{
    width: calc(100% - 70px);
    color: white;
    padding: 5.5px;
    background-color: coral;
}

.footer
{
    background-color: yellow;
    width: 100%;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.test
{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    height: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

/* .grid
{
    padding: 30px;
    background-color: steelblue;
    display: grid;
    place-items: center;
} */

.grid:nth-of-type(2)
{
    display: grid;
    grid-column: 2 / span 2;
}

/* .grid:hover
{
    background-color: black;
    color: white;
} */

.holder
{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: auto; */
    grid-template-rows: 0.5fr 1.5fr 1.2fr 1.2fr 0.5fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar content4 content5 content6"
    "footer footer footer footer";
    gap: 7px;
}

nav
{
    background-color: #40e0d0;
    grid-area: nav;
    display: grid;
    place-items: center;
}
main
{
    background-color: #40e9d1;
    grid-area: main;
    display: grid;
    place-items: center;
    overflow-y: scroll;
    padding: 10px;
}
/* .side-bar
{
    background-color: #40e9dd;
    grid-area: sidebar;
    display: grid;
    place-items: center;
} */
.content1
{
    background-color: #00ffff;
    grid-area: content1;
    display: grid;
    place-items: center;
}
.content2
{
    background-color: #00ffca;
    grid-area: content2;
    display: grid;
    place-items: center;
}
.content3
{
    background-color: #00bcca;
    grid-area: content3;
    display: grid;
    place-items: center;
}
.content4
{
    background-color: #00bbca;
    grid-area: content4;
    display: grid;
    place-items: center;
}
.content5
{
    background-color: #00eeca;
    grid-area: content5;
    display: grid;
    place-items: center;
}
.content6
{
    background-color: #00ebba;
    grid-area: content6;
    display: grid;
    place-items: center;
}
footer
{
    background-color: #00baaf;
    grid-area: footer;
    display: grid;
    place-items: center;
}

@media only screen and (max-width: 767px)
{
    .holder
    {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 1.2fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "content1"
        "content2"
        "content3"
        "content4"
        "content5"
        "content6"
        "footer";
        gap: 0px;
    }
}

.main
{
    width: 100%;
    height: auto;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141414;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "sidebar main"; 
    overflow: hidden;   
}

@media (width >= 320px) and (width <= 425px)
{
    .main
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "main"
        "sidebar";
    }

    .side-bar
    {
        display: flex !important;
        align-items: center !important;
        justify-content: space-evenly !important;
        flex-direction: row !important;
        border-top: 1px solid white;
        border-right: unset !important;
    }
}

.side-bar
{
    height: 100%;
    grid-area: sidebar;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.side-bar>a
{
    text-decoration: none;
    color: whitesmoke;
}

.working-area
{
    color: whitesmoke;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
}

.home
{
    width: 100%;
    height: auto;
}

.hero-text
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-img
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.hero-img img
{
    height: 100%;
}

.about
{
    width: 100%;
    height: 100vh;
}